[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Reinhard Nägele (unguiculus)
[access "refs/for/refs/*"]
	read = group user/Reinhard Nägele (unguiculus)
	push = group user/Reinhard Nägele (unguiculus)
	label-Code-Review = -2..+2 group user/Reinhard Nägele (unguiculus)
	label-Verified = -1..+1 group user/Reinhard Nägele (unguiculus)
	rebase = group user/Reinhard Nägele (unguiculus)
	removeReviewer = group user/Reinhard Nägele (unguiculus)
	submit = group user/Reinhard Nägele (unguiculus)
[access "refs/heads/*"]
	read = group user/Reinhard Nägele (unguiculus)
	create = group user/Reinhard Nägele (unguiculus)
	push = +force group user/Reinhard Nägele (unguiculus)
	pushMerge = group user/Reinhard Nägele (unguiculus)
[access "refs/tags/*"]
	push = group user/Reinhard Nägele (unguiculus)
	push = +force group user/Reinhard Nägele (unguiculus)
[receive]
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[submit]
	action = rebase if necessary
